version: '3'

services:
  web:
    image: meatcarrot/chatbot:250821
    env_file:
      - .env
    command: gunicorn chatbot_core.wsgi:application --bind 0.0.0.0:8000 --workers 4 --timeout 120
    volumes:
      - ./models:/app/models
    expose:
      - "8000"
    ports:
      - "8000:8000"   


  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./ai/static:/app/ai/static
    depends_on:
      - web

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
